[package]
name = "proarc_server_v2"
version = "0.1.0"
edition = "2024"

[dependencies]
chrono = "0.4.41"
ctrlc = "3.4.7"
dotenvy = "0.15.7"
log = "0.4.27"
log4rs = "1.3.0"
sqlx = {version="0.8.6", features=["sqlite"]}
tokio = {version="1.45.1", features=["full"]}

[profile.test]
opt-level = 2
